:root{
  /* couleurs principales */
  --color-bg: #1c1e29;
  --color-surface: #282835;
  --color-surface-hover: #252531;
  --color-text: #e6e6e9;
  --color-primary: #2b7be4;
  --color-success: #2db34a;
  --color-error:  #e04545;
  --color-accent:  #ffd166;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--color-bg);
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  margin: 0 auto;
  text-align: center;
  width: 100%;
  height: auto;
}

html {
  box-sizing: border-box;
  scrollbar-gutter: stable; /* réserve l'espace de la scrollbar */
}

*, *::before, *::after {
  box-sizing: inherit;
}